<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_ITest_TS_AKN">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://externalHandler-akntest/CRRM/TekovnaSostojbaAKNTest"
                binding="customBinding" bindingConfiguration="CustomBinding_ITest_TS_AKN"
                contract="Test_TS_AKN.ITest_TS_AKN" name="CustomBinding_ITest_TS_AKN" />
        </client>
    </system.serviceModel>
</configuration>