<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.serviceModel>
  <bindings>
      <customBinding>
        <binding name="CustomBinding_ITest_TS_AKN">
                    <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
 maxBufferSize="2147483647" />
                </binding>
                <binding name="CustomBinding_ICRM_TS_AKN">
                    <textMessageEncoding messageVersion="Soap12" />
                  <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
         maxBufferSize="2147483647" />
                </binding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
  <services>
      <service behaviorConfiguration="ServiceBehavior" name="TSAdapterAKN.TSAdapterTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="TSAdapterAKN.ITSAdapterTest" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="TSAdapterAKN.TSAdapterProduction">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="TSAdapterAKN.ITSAdapterProduction" />
      </service>
    
    </services>
  <behaviors>
      <serviceBehaviors>
        
        <behavior name="ServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--<behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://externalHandler-akntest/CRRM/TekovnaSostojbaAKNTest"
                binding="customBinding" bindingConfiguration="CustomBinding_ITest_TS_AKN"
                contract="Test_TS_AKN.ITest_TS_AKN" name="CustomBinding_ITest_TS_AKN" />
            <endpoint address="http://externalHandler-akn/CRRM/TekovnaSostojbaAKN"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
                contract="CRM_TS_AKN.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />
    </client>
    </system.serviceModel>
  <appSettings>
    <add key="MyCertificateUserTest" value="UserAKN" />
    <add key="MyCertificateUserProduction" value="UserAKN" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>