@inherits System.Web.Mvc.WebViewPage

<div>
    <h2><i class="fa fa-cogs"></i> Сервиси</h2>
    <div class="table">
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12 hidden-sm hidden-xs">
                <form name="searchServiceForm">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <input type="text" class="form-control" placeholder="Име на сервис ..." ng-model="search.name"/>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <select class="form-control" ng-model="search.provider" ng-options="key as value for (key , value) in providersList">
                            <option value="" disabled>Одбери провајдер на сервис ...</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <button type="submit" class="btn btn-primary col-lg-5 pull-left" ng-click="searchProvider(search)"><i class="fa fa-search"></i>Барај</button>
                        <button type="submit" class="btn btn-default col-lg-5 pull-right" ng-click="clearServiceSearch()"><i class="fa fa-eraser"></i>Исчисти</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="col-sm-12" ng-show="totalItems != 0">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th ng-click="sortType = 'name'; sortReverse = !sortReverse" style="cursor:pointer;">
                                <u>
                                    Име на сервис
                                </u>
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th ng-click="sortType = 'participantCode'; sortReverse = !sortReverse" style="cursor:pointer;">
                                <u>
                                    Провајдер на сервис
                                </u>
                                <span ng-show="sortType == 'participantCode' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'participantCode' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th ng-click="sortType = 'participantCode'; sortReverse = !sortReverse" style="cursor:pointer;">
                                <u>
                                    Бас код на сервис
                                </u>
                                <span ng-show="sortType == 'participantCode' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'participantCode' && sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th>WSDL на сервис</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="service in services | orderBy : sortType : sortReverse" ng-class="{selected: service.code === selectedCode && service.participantCode === selectedProviderCode}" ng-click="setSelectedRow(service.code, service.participantCode)">
                            <td>{{service.name}}</td>
                            <td>{{service.participantCode}}</td>
                            <td>{{service.code | limitTo:4}}</td>
                            <td><a ng-click="showWSDL(service.code,service.serviceCode,itemsPerPage,currentPage)" button class="btn btn-info btn-xs" @*ng-click="glyphicon glyphicon-info-sign"*@><i class="fa fa-info"></i> Детали </a> </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="pull-left">
                <div previous-text="Претходна" next-text="Следна" pagination total-items="totalItems" items-per-page="pageSize" ng-show="totalItems != 0" ng-model="currentPage" class="pagination-sm" ng-change="pageChangeHandler(currentPage)"></div>
            </div>
            <div class="pull-left">
                <select class="form-control" ng-show="totalItems != 0" name="servicesPerPage" ng-model="itemsPerPage" ng-change="pageSizeChanged(itemsPerPage)" style="margin: 18px 30px;">
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="10" selected="selected">10</option>
                </select>
            </div>
            <div ng-show="totalItems != 0" class="pull-right">
                <strong>Вкупен број на записи: {{totalItems}}</strong>
            </div>
        </div>
        <div class="col-md-12 alert alert-warning" ng-show="totalItems == 0">
            <strong>Нема податоци</strong>
        </div>
    </div>

</div>




