<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Interop.CC.Handler.External.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connectionStringCC" connectionString="Data Source=.;User Id=sa;Password=eidaichi;Initial Catalog=CCCRRM;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="URLWebRequest" value="http://localhost/Interop.CCSimulation.Handler.Internal" />
    <add key="LogSoap" value="true" />
    <!--<add key="ParticipantCode" value="UJP" />-->
    <add key="ParticipantCode" value="CRRM" />  <!--change participantCode for testing  --><!--change participantCode to UJP, KOR for testing  -->
    <add key="ParticipantCodeWithMIM" value="MIM1$$CRRM" /><!--used only for Register service  -->
    <add key="staticUrl" value="http://localhost/Interop.CC.Handler.External/" />
    <add key="MIMMessageXSDLocation" value="D:\Projects\Interoperability\Interop\InteropCC\Documents\MIMMessage.xsd" />
    <add key="CertificateFromStore" value="false" />
    <add key="MyCertificateName" value="KORVCCA3" />
    <add key="MyCertificatePath" value="D:\\Projects\Interoperability\Interop\InteropCC\Documents\KORVCCB3.p12" />
    <add key="MyCertificatePassword" value="SkG7W8WhU24xEZ2z" />
    <add key="BindingName" value="CustomBinding" />
    <add key="KIBSCertificationPath" value="C:\\Xime Xprezime Xorganizacija.p12" />
    <add key="KIBSCertificationPassword" value="Xime Xprezime Xorganizacija" />
    <add key="SoapFaultAccessMapping" value="Нема пристапна листа за овој сервис"/>
    <add key="SoapFaultParticipantInactive" value="Учесникот не е активен"/>
    <add key="SoapFaultServiceUnReachable" value="Сервисот не е достапен"/>
    <add key="SoapFaultUnsuccessfulRequest" value="Неуспешен повик до комуникацискиот клиент"/>
    <add key="SoapFaultKIBSUnReachable" value="Неуспешен повик до KIBS"/>
    <add key="LogDecryptBody" value="true" />
    <add key="KIBSEnviroment" value="Test"/>
    <add key="LogKIBS" value="False"/>
    <add key="LogEncryption" value="False"/>
    <add key="LogGetSoapBody" value="False"/>
    <add key="LogCreateMimRequestMsg" value="False"/>
    <add key="LogInsertRequestLogInDb" value="False"/>
    <add key="LogLoadOwnCertificate" value="False"/>
    <add key="LogGetPrivateKey" value="False"/>
    <add key="LogGetPublicKeyForProvider" value="False"/>
    <add key="LogCreateMimXmlMsg" value="False"/>
    <add key="LogUpdateMessageLog" value="False"/>
    <add key="LogCreateMimSignedXmlMsg" value="True"/>
    <add key="LogUnwrapSoapFaultMessage" value="True"/>
    <add key="LogUnwrapMimMessage" value="False"/>
    <add key="LogMimMessage" value="False"/>
    <add key="LogValidateSignature" value="False"/>
    <add key="LogValidateXml" value="False"/>
    <add key="LogUpdateMessageLogResponse" value="False"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" executionTimeout="600" maxRequestLength="2147483647" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="InteropCCHandlerExternal" verb="*" path="*" type="Interop.CC.Handler.External.InteropCCHandlerExternal, Interop.CC.Handler.External, Version=1.0.0.0, Culture=neutral" preCondition="managedHandler" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
        <!--<security>
            --><!--<access sslFlags="SslNegotiateCert" />--><!--
        </security>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICSMetaService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Interop.CS.MetaServiceSite/CSMetaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICSMetaService" contract="CSMetaServiceReference.ICSMetaService" name="BasicHttpBinding_ICSMetaService" />
    </client>
    <services>
      <service behaviorConfiguration="MetaServiceBehavior" name="Interop.CC.MetaService.MetaService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" contract="Interop.CC.MetaService.IMetaService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Interop.CC.Handler.External.Properties.Settings>
      <setting name="Interop_CC_Handler_External_wsTSA_wsTSATest" serializeAs="String">
        <value>https://wstsatest.kibs.mk/wsTSATest.asmx</value>
      </setting>
    </Interop.CC.Handler.External.Properties.Settings>
  </applicationSettings>
</configuration>