<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <!-- PRODUCTION Connection string should be CSInterop instead of CSInteropTest-->

  <connectionStrings>
    <add name="CSInterop" connectionString="Data Source=.;User Id=sa;Password=E1da1ch1;Initial Catalog=CSInteropTest;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="UploadCertPath" value='C:/Interop/UploadedCertificates' xdt:Transform="Replace" xdt:Locator="Condition(@key='UploadCertPath')" />
    <add key="KIBSCertificationPath" value="C:/Interop/UploadedCertificates/Xime Xprezime Xorganizacija.p12" xdt:Transform="Replace" xdt:Locator="Condition(@key='KIBSCertificationPath')"/>
    <add key="KIBSCertificationPassword" value="Xime Xprezime Xorganizacija" xdt:Transform="Replace" xdt:Locator="Condition(@key='KIBSCertificationPassword')"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode='Off' xdt:Transform="InsertIfMissing" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>
    <modules xdt:Transform="Remove">
      <remove name="FormsAuthentication" />
    </modules>
    <modules runAllManagedModulesForAllRequests='true' xdt:Transform="Insert">
      <remove name='UrlRoutingModule' />
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>

</configuration>
