<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IDataExeExp">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataExeImp">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ISingleCustDoc">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataExeExp1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataExeImp1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ISingleCustDoc1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CURMServicesProd.Host/DataExeExp.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataExeExp"
                contract="DataExeExpProd.IDataExeExp" name="CustomBinding_IDataExeExp" />
            <endpoint address="http://localhost/CURMServicesProd.Host/DataExeImp.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataExeImp"
                contract="DataExeImpProd.IDataExeImp" name="CustomBinding_IDataExeImp" />
            <endpoint address="http://localhost/CURMServicesProd.Host/SingleCustDoc.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ISingleCustDoc"
                contract="SingleCustDocProd.ISingleCustDoc" name="CustomBinding_ISingleCustDoc" />
            <endpoint address="http://localhost/CURMServicesTest.Host/DataForExecutedExportTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataExeExp1"
                contract="DataExeExpTest.IDataExeExp" name="CustomBinding_IDataExeExp1" />
            <endpoint address="http://localhost/CURMServicesTest.Host/DataForExecutedImportTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataExeImp1"
                contract="DataExeImpTest.IDataExeImp" name="CustomBinding_IDataExeImp1" />
            <endpoint address="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ISingleCustDoc1"
                contract="SingleCustDocTest.ISingleCustDoc" name="CustomBinding_ISingleCustDoc1" />
        </client>
    </system.serviceModel>
</configuration>