<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="CallingPeriodInMiliseconds" value="1320"/>
    <add key="NumberOfRequests" value="100"/>
    <add key="Institution" value="UJP"/>
    <add key="CalledInstitution" value="MZTV"/>
    <add key="CertificatePath" value="C:\Interop\UploadedCertificates\UserCU.pfx"/>
    <add key="CertificatePassword" value="CR!tst"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IFPIOMService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IYearsOfWorkExperience">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ISRegStudent">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IAKNService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IMzTVAdapter">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRMService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://externalHandler-mon/FPIOM/PodatociPenzionerOsigurenik"
                binding="customBinding" bindingConfiguration="CustomBinding_IFPIOMService"
                contract="FPIOM_PodatociPenzionerOsigurenik.IFPIOMService"
                name="CustomBinding_IFPIOMService" />
            <endpoint address="http://externalHandler-mtv/FPIOM/GodiniRabotnoIskustvo"
                binding="customBinding" bindingConfiguration="CustomBinding_IYearsOfWorkExperience"
                contract="FPIOM_GodiniRabotnoIskustvo.IYearsOfWorkExperience"
                name="CustomBinding_IYearsOfWorkExperience" />
            <endpoint address="http://externalHandler-fpiom/MON/StatusForRegularStudent"
                binding="customBinding" bindingConfiguration="CustomBinding_ISRegStudent"
                contract="MON_StatusForRegularStudent.ISRegStudent" name="CustomBinding_ISRegStudent" />
            <endpoint address="http://externalHandler-crrm/AKN/ImotenListParcela"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNService"
                contract="AKN_ImotenListParcela.IAKNService" name="CustomBinding_IAKNService" />
            <endpoint address="http://externalHandler-ujp/MzTV/OdobrenieGradbaDozovla"
                binding="customBinding" bindingConfiguration="CustomBinding_IMzTVAdapter"
                contract="MzTV_OdobrenieGradbaDozovla.IMzTVAdapter" name="CustomBinding_IMzTVAdapter" />
            <endpoint address="http://adapter-crrm/AdapterServiceCRM.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRMService"
                contract="CRRM_TekovnaSostojba.ICRMService" name="CustomBinding_ICRMService" />
        </client>
    </system.serviceModel>
</configuration>