@inherits System.Web.Mvc.WebViewPage

<div class="col-lg-5 col-lg-offset-3">
    <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && changePassword(changePasswordData)">
        <h2 class="text-center">Заборавена лозинка</h2>

        <hr/>

        <div class="form-group">
            <label class="clearfix">Внесете го корисничкото име</label>
            <input type="text" class="form-control" name="username" ng-model="changePasswordData.username" ng-class="(forgotPasswordForm.$submitted && forgotPasswordForm.username.$invalid) || (!forgotPasswordForm.$submitted && forgotPasswordForm.username.$dirty && forgotPasswordForm.username.$invalid && forgotPasswordForm.username.$error.required) ? 'fieldErrorBorder' : ''" tooltip="Внесете корисничко име" required autofocus />
            <div ng-messages="forgotPasswordForm.$invalid" ng-if="forgotPasswordForm.$submitted || forgotPasswordForm.username.$dirty && forgotPasswordForm.username.$error">
                <p class="error" style="padding-top: 2px" ng-show="forgotPasswordForm.username.$error.required">Внесете корисничко име</p>
            </div>
        </div>

        <div class="form-group has-feedback" style="position: relative">
            <label class="clearfix">Нова лозинка <i class="fa fa-info-circle" tooltip-placement="right" tooltip="Лозинката мора да има минумум една голема, една мала буква, еден број, еден специјален карактер и да е со минимална должина од 6 карактери" aria-hidden="true"></i></label>
            <input type="password" class="form-control" name="password" password-show-hide element-number="1" ng-model="changePasswordData.password" ng-class="(forgotPasswordForm.$submitted && forgotPasswordForm.password.$invalid) || (!forgotPasswordForm.$submitted && forgotPasswordForm.password.$dirty && forgotPasswordForm.password.$invalid && forgotPasswordForm.password.$error) ? 'fieldErrorBorder' : ''" tooltip="Внесете нова лозинка" required ng-pattern="passwordPattern">
            <div ng-messages="forgotPasswordForm.$invalid" ng-if="forgotPasswordForm.$submitted || forgotPasswordForm.password.$dirty && forgotPasswordForm.password.$error">
                <p class="error" style="padding-top: 2px" ng-show="forgotPasswordForm.password.$error.required">Внесете нова лозинка</p>
                <p class="error" style="padding-top: 2px" ng-show="forgotPasswordForm.password.$error.pattern">Лозинката мора да има минумум една голема, една мала буква, еден број, еден специјален карактер и да е со минимална должина од 6 карактери</p>
            </div>
        </div>

        <div class="form-group has-feedback" style="position: relative" ng-show="showForgotPassword">
            <label class="clearfix">Потврди нова лозинка</label>
            <input type="password" class="form-control" name="confirmPassword" password-show-hide element-number="2" ng-model="changePasswordData.confirmPassword" tooltip="Потврдете ја новата лозинка" required />
            <div ng-messages="forgotPasswordForm.$invalid" ng-if="forgotPasswordForm.$submitted || forgotPasswordForm.confirmPassword.$dirty && forgotPasswordForm.confirmPassword.$error">
                <p class="error" style="padding-top: 2px" ng-show="forgotPasswordForm.confirmPassword.$error.required">Потврдете ја новата лозинка</p>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-disabled="forgotPasswordForm.$invalid" ng-click="changePassword(changePasswordData)" type="submit" class="btn btn-primary"><i class="fa fa-save"/> Направи промена</button>
        </div>

    </form>
    </div>

