<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Interop.CC.Portal.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Interop.CC.Portal.API-20150427102631.mdf;Initial Catalog=aspnet-Interop.CC.Portal.API-20150427102631;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="connectionStringCC" connectionString="Data Source=10.47.20.232;User Id=sa;Password=E1da1ch1;Initial Catalog=CCAKN;" providerName="System.Data.SqlClient" />-->
    <add name="connectionStringCC" connectionString="Data Source=.;User Id=sa;Password=eidaichi;Initial Catalog=CCCRRM;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="WitEndPoint" value="false"/>
    <add key="WebAppIpAddressV4" value="127.0.0.1" />
    <add key="WebAppIpAddressV6" value="::1" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UploadCertPFX" value="D:\UserCU.pfx" />
    <add key="UploadCertPass" value="CR!tst" />
    <!--<add key="UploadCertPFXUJP" value="D:\Interop\InteropCC\Documents\UserCU.pfx" />-->
    <add key="UploadCertPFXUJP" value="C:\UJP_tst_14.06.2012.pfx" />
    <add key="UploadCertPassUJP" value="CR!tst" />
    <add key="UploadCertUser" value="UJP_tst" />
    <add key="UploadCertUserCURM" value="UserCU" />
    <add key="PathToFile" value="D:\Interop\" />
    <add key="UJPTestData" value="false" />
    <add key="CURMTestData" value="false" />
    <add key="AKNusername" value="mio" />
    <add key="AKNpassword" value="katastarservis" />
    <add key="Enviroment" value="Test" />
    <add key="EnviromentCURM" value="Production" />
    <add key="EnviromentAKN" value="Test" />
    <add key="EnviromentTekovnaSostojbaAKN" value="Production" />
    <add key="ApiCSUrl" value="http://localhost/Interop.CS.Portal.API/api/" />
  
    <add key="UploadCertPath" value="D:\InteropRegisterServiceWsdl" />
    
    <add key="KingUjpTestData" value="true"/>
    <add key="KorvusUjpTestData" value="true"/>
    <add key="PathToTestTxtDownloadFile" value="D:\PathToTestUjpDocuments\TxtDoc\"/>
    <add key="PathToTestDocDownloadFile" value="D:\PathToTestUjpDocuments\DocDoc\"/>
    <add key="PathToTestZipDownloadFile" value="D:\PathToTestUjpDocuments\ZipDoc\"/>
    <add key="TS_ProductName_Production" value="LEOSSCurrentView"/>

    <add key="Interop.CC.Handler.ExternalPath" value="http://externalhandler-montest/"/>
    <add key="CertUserAKNSystemToSystem" value="UserAKN"/>
    <add key="MunicipalitiesKey" value="Municipalities"/>

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="600" maxRequestLength="2147483647"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<security>
            -->
    <!--<access sslFlags="SslNegotiateCert" />-->
    <!--
        </security>-->
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InteropWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="InteropWebServiceSoap1" />
        <binding name="BasicHttpBinding_IMetaService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IFPIOMService">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IInsuredStatus">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRetiredStatus">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IYearsOfWorkExperience">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IStatusForRegularStudent">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRMService">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForRegularStudent">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForExecutedExport">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForExecutedImport">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISingleCustomsDocument">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IEDB_EMB">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForAnnualRevenues">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRegExcBonds">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IMzTVAdapter">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDRegStudent">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISRegStudent">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITestServiceMioa">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IBondsData1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataPContr">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataUnpContr">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNService">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_UJP">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNMunicipality">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNPListDoc">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNCPlanDoc">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNDataForIFDoc">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_ICRM_TS_CURM">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRMServiceTest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IListOfChangesCU">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNCPlanDocProduction">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNPListDocProduction">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNDataForIFDocProduction">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IDRegStudent1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITest_TS_UJP">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataExeExp">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITest_TS_AKN">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_AKN">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITest_TS_CURM">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForEMB">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IPropertyList">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICadastrialParcel">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForEnsurers">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForRetired">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForEDB">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNMunicipality1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForEnsurers1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForRetired1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IInsuredStatus1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IInsuredStatus2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRetiredStatus1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRetiredStatus2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IYearsOfWorkExperience1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IYearsOfWorkExperience2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IPropertyList1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICadastrialParcel1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNPListDocProduction1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNPListDoc1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNCPlanDocProduction1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNCPlanDoc1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNDataForIFDocProduction1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAKNDataForIFDoc1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IListOfChangesCU1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IListOfSubjectsCU">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_AKN1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_AKN2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_CURM1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_CURM2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_UJP1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_UJP2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISingleCustDoc">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISingleCustDoc1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataExeExp1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataExeExp2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataExeImp">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataExeImp1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDRegStudent3">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISRegStudent2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISRegStudent3">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForEMB1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRegExcBonds1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRegExcBonds2">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDRegStudent4">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRMService1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IDataForEDB1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IBigData" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap12">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="4294967295" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_INameSurname">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IPersonData">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.stage.gradezna-dozvola.mk/Services/InteropWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="InteropWebServiceSoap"
        contract="MzTVOriginalService.InteropWebServiceSoap" name="InteropWebServiceSoap" />
      <endpoint address="http://localhost/AdapterServiceFPIOM.Host/AdapterServiceFPIOM.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IFPIOMService"
        contract="FPIOMInsuredRetiredAdapter.IFPIOMService" name="CustomBinding_IFPIOMService" />
      <endpoint address="http://localhost/InteropServices.FPIOM.Host/InsuredStatus.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IInsuredStatus"
        contract="FPIOMInsuredStatus.IInsuredStatus" name="CustomBinding_IInsuredStatus" />
      <endpoint address="http://localhost/InteropServices.FPIOM.Host/RetiredStatus.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IRetiredStatus"
        contract="FPIOMRetiredStatus.IRetiredStatus" name="CustomBinding_IRetiredStatus" />
      <endpoint address="http://localhost/InteropServices.FPIOM.Host/YearsOfWorkExperience.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IYearsOfWorkExperience"
        contract="FPIOMYearsOfWorkExperience.IYearsOfWorkExperience"
        name="CustomBinding_IYearsOfWorkExperience" />
      <endpoint address="http://localhost/InteropServices.CURM.Host/DataForExecutedExport.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForExecutedExport"
        contract="CURMDataForExecutedExport.IDataForExecutedExport"
        name="CustomBinding_IDataForExecutedExport" />
      <endpoint address="http://localhost/InteropServices.CURM.Host/DataForExecutedImport.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForExecutedImport"
        contract="CURMDataForExecutedImport.IDataForExecutedImport"
        name="CustomBinding_IDataForExecutedImport" />
      <endpoint address="http://localhost/InteropServices.CURM.Host/SingleCustomsDocument.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ISingleCustomsDocument"
        contract="CURMSingleCustomsDocument.ISingleCustomsDocument"
        name="CustomBinding_ISingleCustomsDocument" />
      <endpoint address="http://localhost/InteropServices.UJP.Host/EDB_EMB.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IEDB_EMB"
        contract="UJPEDB_EMB.IEDB_EMB" name="CustomBinding_IEDB_EMB" />
      <endpoint address="http://localhost/InteropServices.UJP.Host/DataForAnnualRevenues.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForAnnualRevenues"
        contract="UJPDataForAnnualRevenues.IDataForAnnualRevenues" name="CustomBinding_IDataForAnnualRevenues" />
      <endpoint address="http://localhost/InteropServices.UJP.Host/RegisterOfExciseBonds.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IRegExcBonds"
        contract="UJPRegisterOfExciseBonds.IRegExcBonds" name="CustomBinding_IRegExcBonds" />
      <endpoint address="http://localhost/InteropServices.MzTV.Host/MzTVAdapter.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IMzTVAdapter"
        contract="MZTVConstructionPermitAdapter.IMzTVAdapter" name="CustomBinding_IMzTVAdapter" />
      <endpoint address="http://localhost/Interop.CC.Handler.External/MON/DataForRegularStudent"
        binding="customBinding" bindingConfiguration="CustomBinding_IDRegStudent"
        contract="MONDataForRegularStudent.IDRegStudent" name="CustomBinding_IDRegStudent" />
      <endpoint address="http://localhost/InteropServices.MON.Host/SRegStudent.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ISRegStudent"
        contract="MONStatusForRegularStudent.ISRegStudent" name="CustomBinding_ISRegStudent" />
      <endpoint address="http://localhost/AdapterServiceCRM.Host/AdapterServiceCRM_TS_UJP.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_UJP"
        contract="CRM_TS_UJP.ICRM_TS_UJP" name="CustomBinding_ICRM_TS_UJP" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNMunSvc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNMunicipality"
        contract="AKNMunicipalityService.IAKNMunicipality" name="CustomBinding_IAKNMunicipality" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNPListDoc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDoc"
        contract="AKNPListDoc.IAKNPListDoc" name="CustomBinding_IAKNPListDoc" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNCPlanDoc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDoc"
        contract="AKNCPlanDoc.IAKNCPlanDoc" name="CustomBinding_IAKNCPlanDoc" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNDataForIFDoc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNDataForIFDoc"
        contract="AKNDataForIFDoc.IAKNDataForIFDoc" name="CustomBinding_IAKNDataForIFDoc" />
      <endpoint address="http://localhost/AdapterServiceCRM.Host/AdapterServiceCRM_TS_CURM.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_CURM"
        contract="CRM_TS_CURM.ICRM_TS_CURM" name="CustomBinding_ICRM_TS_CURM" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AdapterServiceAKN.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNService"
        contract="AKNPropertyListCadastralParcelAdapter.IAKNService"
        name="CustomBinding_IAKNService" />
      <endpoint address="http://localhost/AdapterServiceCRM.Host/AdapterServiceCRMTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRMServiceTest"
        contract="CRMTekovnaSostojbaTest.ICRMServiceTest" name="CustomBinding_ICRMServiceTest" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNPListDocProduction.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDocProduction"
        contract="AKNPListDocProduction.IAKNPListDocProduction" name="CustomBinding_IAKNPListDocProduction" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNCPlanDocProduction.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDocProduction"
        contract="AKNCPlanDocProduction.IAKNCPlanDocProduction" name="CustomBinding_IAKNCPlanDocProduction" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNDataForIFDocProduction.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNDataForIFDocProduction"
        contract="AKNDataForIFDocProduction.IAKNDataForIFDocProduction"
        name="CustomBinding_IAKNDataForIFDocProduction" />
      <endpoint address="http://localhost/Interop.CC.Handler.External/MON/DataForRegularStudent"
        binding="customBinding" bindingConfiguration="CustomBinding_IDRegStudent1"
        contract="MONDataForRegularStudentCorrected.IDRegStudent" name="CustomBinding_IDRegStudent1" />
      <endpoint address="http://localhost/AdapterServiceCRM.Host/Test_CRM_TS_UJP.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ITest_TS_UJP"
        contract="CRM_TS_UJP_Test.ITest_TS_UJP" name="CustomBinding_ITest_TS_UJP" />
      <endpoint address="http://localhost/InteropServices.CURM.Host/DataExeExp.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataExeExp"
        contract="CURMDataForExecutedExport.IDataExeExp" name="CustomBinding_IDataExeExp" />
      <endpoint address="http://localhost/AdapterServiceCRM.Host/Test_CRM_TS_AKN.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ITest_TS_AKN"
        contract="CRM_TS_AKN_Test.ITest_TS_AKN" name="CustomBinding_ITest_TS_AKN" />
      <endpoint address="http://localhost/AdapterServiceCRM.Host/AdapterServiceCRM_TS_AKN.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
        contract="CRM_TS_AKN.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />
      <endpoint address="http://localhost/AdapterServiceCRM.Host/Test_CRM_TS_CURM.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ITest_TS_CURM"
        contract="CRM_TS_CURM_Test.ITest_TS_CURM" name="CustomBinding_ITest_TS_CURM" />
      <endpoint address="http://localhost/UJPServicesProd.Host/DataForEMB.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForEMB"
        contract="UJPEdinstvenMaticenBroj.IDataForEMB" name="CustomBinding_IDataForEMB" />
      <endpoint address="http://localhost/AKNServicesProd.Host/PropertyList.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IPropertyList"
        contract="AKNImotenList.IPropertyList" name="CustomBinding_IPropertyList" />
      <endpoint address="http://localhost/AKNServicesProd.Host/CadastrialParcel.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICadastrialParcel"
        contract="AKNKatastarskaParcela.ICadastrialParcel" name="CustomBinding_ICadastrialParcel" />
      <endpoint address="http://localhost/FPIOMServicesProd.Host/DataForEnsurers.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForEnsurers"
        contract="FPIOMPodatociOsigurenik.IDataForEnsurers" name="CustomBinding_IDataForEnsurers" />
      <endpoint address="http://localhost/FPIOMServicesProd.Host/DataForRetired.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForRetired"
        contract="FPIOMPodatociPenzioner.IDataForRetired" name="CustomBinding_IDataForRetired" />
      <endpoint address="http://localhost/UJPServicesProd.Host/DataForEDB.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForEDB"
        contract="UJPEdinstvenDanocenBroj.IDataForEDB" name="CustomBinding_IDataForEDB" />
      <endpoint address="http://localhost/AKNServicesProd.Host/AKNMunicipality.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNMunicipality1"
        contract="AKNOpshtini.IAKNMunicipality" name="CustomBinding_IAKNMunicipality1" />
      <endpoint address="http://localhost/FPIOMServicesTest.Host/DataForEnsurersTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForEnsurers1"
        contract="FPIOMPodatociOsigurenikTest.IDataForEnsurers" name="CustomBinding_IDataForEnsurers1" />
      <endpoint address="http://localhost/FPIOMServicesTest.Host/DataForRetiredTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForRetired1"
        contract="FPIOMPodatociPenzionerTest.IDataForRetired" name="CustomBinding_IDataForRetired1" />
      <endpoint address="http://localhost/FPIOMServicesTest.Host/InsuredStatusTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IInsuredStatus1"
        contract="FPIOMStatusOsigurenikTest.IInsuredStatus" name="CustomBinding_IInsuredStatus1" />
      <endpoint address="http://localhost/FPIOMServicesProd.Host/InsuredStatus.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IInsuredStatus2"
        contract="FPIOMStatusOsigurenik.IInsuredStatus" name="CustomBinding_IInsuredStatus2" />
      <endpoint address="http://localhost/FPIOMServicesTest.Host/RetiredStatusTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IRetiredStatus1"
        contract="FPIOMStatusPenzionerTest.IRetiredStatus" name="CustomBinding_IRetiredStatus1" />
      <endpoint address="http://localhost/FPIOMServicesProd.Host/RetiredStatus.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IRetiredStatus2"
        contract="FPIOMStatusPenzioner.IRetiredStatus" name="CustomBinding_IRetiredStatus2" />
      <endpoint address="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IYearsOfWorkExperience1"
        contract="FPIOMRabotnoIskustvoTest.IYearsOfWorkExperience" name="CustomBinding_IYearsOfWorkExperience1" />
      <endpoint address="http://localhost/FPIOMServicesProd.Host/YearsOfWorkExperience.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IYearsOfWorkExperience2"
        contract="FPIOMRabotnoIskustvo.IYearsOfWorkExperience" name="CustomBinding_IYearsOfWorkExperience2" />
      <endpoint address="http://localhost/AKNServicesTest.Host/PropertyListTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IPropertyList1"
        contract="AKNImotenListTest.IPropertyList" name="CustomBinding_IPropertyList1" />
      <endpoint address="http://localhost/AKNServicesTest.Host/CadastrialParcelTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICadastrialParcel1"
        contract="AKNKatastarskaParcelaTest.ICadastrialParcel" name="CustomBinding_ICadastrialParcel1" />
      <endpoint address="http://localhost/AKNServicesProd.Host/AKNPListDocProduction.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDocProduction1"
        contract="AKNImotenListDokument.IAKNPListDocProduction" name="CustomBinding_IAKNPListDocProduction1" />
      <endpoint address="http://localhost/AKNServicesTest.Host/AKNPListDocTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDoc1"
        contract="AKNImotenListDokumentTest.IAKNPListDoc" name="CustomBinding_IAKNPListDoc1" />
      <endpoint address="http://localhost/AKNServicesProd.Host/AKNCPlanDocProduction.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDocProduction1"
        contract="AKNKatastarskaParcelaDokument.IAKNCPlanDocProduction"
        name="CustomBinding_IAKNCPlanDocProduction1" />
      <endpoint address="http://localhost/AKNServicesTest.Host/AKNCPlanDocTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDoc1"
        contract="AKNKatastarskaParcelaDokumentTest.IAKNCPlanDoc" name="CustomBinding_IAKNCPlanDoc1" />
      <endpoint address="http://localhost/AKNServicesProd.Host/AKNDataForIFDocProduction.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNDataForIFDocProduction1"
        contract="AKNPodatociZaInfraObjekti.IAKNDataForIFDocProduction"
        name="CustomBinding_IAKNDataForIFDocProduction1" />
      <endpoint address="http://localhost/AKNServicesTest.Host/AKNDataForIFDocTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNDataForIFDoc1"
        contract="AKNPodatociZaInfraObjektiTest.IAKNDataForIFDoc" name="CustomBinding_IAKNDataForIFDoc1" />
      <endpoint address="http://localhost/CRRMServicesTest.Host/ListOfChangesCU_Test.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IListOfChangesCU1"
        contract="CRMListaNaPromeniTest.IListOfChangesCU" name="CustomBinding_IListOfChangesCU" />
      <endpoint address="http://localhost/CRRMServicesTest.Host/ListOfSubjectsCUTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IListOfSubjectsCU"
        contract="CRMListaPosebenInteresTest.IListOfSubjectsCU" name="CustomBinding_IListOfSubjectsCU" />
      <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_AKN.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN1"
        contract="CRMTekovnaSostojbaAKN.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN1" />
      <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_AKN_Test.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN2"
        contract="CRMTekovnaSostojbaAKNTest.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN2" />
      <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_CURM.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_CURM1"
        contract="CRMTekovnaSostojbaCURM.ICRM_TS_CURM" name="CustomBinding_ICRM_TS_CURM1" />
      <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_CURM_Test.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_CURM2"
        contract="CRMTekovnaSostojbaCURMTest.ICRM_TS_CURM" name="CustomBinding_ICRM_TS_CURM2" />
      <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_UJP.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_UJP1"
        contract="CRMTekovnaSostojbaUJP.ICRM_TS_UJP" name="CustomBinding_ICRM_TS_UJP1" />
      <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_UJP_Test.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_UJP2"
        contract="CRMTekovnaSostojbaUJPTest.ICRM_TS_UJP" name="CustomBinding_ICRM_TS_UJP2" />
      <endpoint address="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ISingleCustDoc"
        contract="CURMEdinstvenCarinskiDokumentTest.ISingleCustDoc"
        name="CustomBinding_ISingleCustDoc" />
      <endpoint address="http://localhost/CURMServicesProd.Host/SingleCustDoc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ISingleCustDoc1"
        contract="CURMEdinstvenCarinskiDokument.ISingleCustDoc" name="CustomBinding_ISingleCustDoc1" />
      <endpoint address="http://localhost/CURMServicesProd.Host/DataExeExp.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataExeExp1"
        contract="CURMPodatociZaIzvoz.IDataExeExp" name="CustomBinding_IDataExeExp1" />
      <endpoint address="http://localhost/CURMServicesTest.Host/DataForExecutedExportTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataExeExp2"
        contract="CURMPodatociZaIzvozTest.IDataExeExp" name="CustomBinding_IDataExeExp2" />
      <endpoint address="http://localhost/CURMServicesProd.Host/DataExeImp.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataExeImp"
        contract="CURMPodatociZaUvoz.IDataExeImp" name="CustomBinding_IDataExeImp" />
      <endpoint address="http://localhost/CURMServicesTest.Host/DataForExecutedImportTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataExeImp1"
        contract="CURMPodatociZaUvozTest.IDataExeImp" name="CustomBinding_IDataExeImp1" />
      <endpoint address="http://localhost/MONServicesProd.Host/DataForRegularStudent.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDRegStudent3"
        contract="MONPotvrdaZaRedovenUcenik.IDRegStudent" name="CustomBinding_IDRegStudent3" />
      <endpoint address="http://localhost/MONServicesProd.Host/StatusForRegularStudent.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ISRegStudent2"
        contract="MONStatusNaUcenik.ISRegStudent" name="CustomBinding_ISRegStudent2" />
      <endpoint address="http://localhost/MONServicesTest.Host/StatusForRegularStudentTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ISRegStudent3"
        contract="MONStatusNaUcenikTest.ISRegStudent" name="CustomBinding_ISRegStudent3" />
      <endpoint address="http://localhost/UJPServicesTest.Host/DataForEMBTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForEMB1"
        contract="UJPEdinstvenMaticenBrojTest.IDataForEMB" name="CustomBinding_IDataForEMB1" />
      <endpoint address="http://localhost/UJPServicesTest.Host/RegExcBondsTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IRegExcBonds1"
        contract="UJPRegistarNaObvrzniciZaAkcizaTest.IRegExcBonds" name="CustomBinding_IRegExcBonds1" />
      <endpoint address="http://localhost/UJPServicesProd.Host/RegExcBonds.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IRegExcBonds2"
        contract="UJPRegistarNaObvrzniciZaAkciza.IRegExcBonds" name="CustomBinding_IRegExcBonds2" />
      <endpoint address="http://localhost/MONServicesTest.Host/DataForRegularStudentTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDRegStudent4"
        contract="MONPotvrdaZaRedovenUcenikTest.IDRegStudent" name="CustomBinding_IDRegStudent4" />
      <endpoint address="http://localhost/CRRMServicesTest.Host/CRMService_Test.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRMService1"
        contract="CRMTekovnaSostojbaTest.ICRMService" name="CustomBinding_ICRMService1" />
      <endpoint address="http://localhost/UJPServicesTest.Host/DataForEDBTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IDataForEDB1"
        contract="UJPEdinstvenDanocenBrojTest.IDataForEDB" name="CustomBinding_IDataForEDB1" />
      <endpoint address="http://localhost/CRRMServicesProd.Host/CRMService.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRMService"
        contract="CRMTekovnaSostojba.ICRMService" name="CustomBinding_ICRMService" />
      <endpoint address="http://localhost/BigMessagesService.Host/BigData.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IBigData"
        contract="MONBigDataService.IBigData" name="CustomBinding_IBigData" />
      <endpoint address="http://localhost/EvalServiceNameSurname.Host/EvalNameSurname.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_INameSurname"
        contract="InstitutionBNameSurname.INameSurname" name="CustomBinding_INameSurname" />
      <endpoint address="http://localhost/EvalServicePersonData/EvalPersonData.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IPersonData"
        contract="InstitutionBPersonData.IPersonData" name="CustomBinding_IPersonData" />
      <endpoint address="http://localhost/Interop.CC.Handler.External/MetaService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaService"
        contract="MetaServiceReference.IMetaService" name="BasicHttpBinding_IMetaService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Interop.CC.Portal.API.Properties.Settings>
      <setting name="Interop_CC_Portal_API_MzTVOdobrenieGradbaDozvolaBezAdapter_InteropWebService"
        serializeAs="String">
        <value>https://www.stage.gradezna-dozvola.mk/Services/InteropWebService.asmx</value>
      </setting>
    </Interop.CC.Portal.API.Properties.Settings>
  </applicationSettings>
</configuration>