<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
     <basicHttpBinding>
        <binding name="WSIO113Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceFPIOM.FPIOMService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceFPIOM.IFPIOMService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <client>
      <endpoint address="http://mapasserver.piom.com.mk/PIOM_IO/WSIO113"
          binding="basicHttpBinding" bindingConfiguration="WSIO113Binding"
          contract="FPIOMOriginalService.WSIO113PortType" name="WSIO113Port" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>