<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InteropWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="InteropWebServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    
      <services>
        <service behaviorConfiguration="ServiceBehavior" name="InteropServices.MzTV.Implementations.MzTVAdapter">
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="InteropServices.MzTV.Interfaces.IMzTVAdapter" />
        </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <client>
      <endpoint address="https://www.stage.gradezna-dozvola.mk/Services/InteropWebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="InteropWebServiceSoap"
          contract="MzTVOriginalService.InteropWebServiceSoap" name="InteropWebServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>