<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XmlWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="XmlWebServiceSoap1" />
        <binding name="XmlWebServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="XmlWebServiceSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e-test.crm.com.mk/XWSS/XmlWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap"
        contract="CRMTest.XmlWebServiceSoap" name="XmlWebServiceSoap" />
      <endpoint address="https://e-services.crm.com.mk/XWSS/XmlWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap2"
        contract="CRRMProd.XmlWebServiceSoap" name="XmlWebServiceSoap1" />
    </client>
    <services>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
