<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntegracijaWSPortBinding" />
                <binding name="IntegracijaWSPortBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IAKNPListDoc">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                        maxBufferSize="2147483647" />
                </binding>
                <binding name="CustomBinding_IAKNCPlanDoc">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                        maxBufferSize="2147483647" />
                </binding>
                <binding name="CustomBinding_IAKNDataForIFDoc">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                        maxBufferSize="2147483647" />
                </binding>
                <binding name="CustomBinding_IAKNPListDocProduction">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                        maxBufferSize="2147483647" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.177.157.198:1443/ws/IntegracijaWS"
                binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding"
                contract="OriginalDocServicesPROD.IntegracijaWSImpl" name="IntegracijaWSPort" />
            <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNPListDoc.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDoc"
                contract="AdapterPListDocTEST.IAKNPListDoc" name="CustomBinding_IAKNPListDoc" />
            <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNCPlanDoc.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDoc"
                contract="AdapterCListDocTEST.IAKNCPlanDoc" name="CustomBinding_IAKNCPlanDoc" />
            <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNDataForIFDoc.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNDataForIFDoc"
                contract="AdapterIFDocTEST.IAKNDataForIFDoc" name="CustomBinding_IAKNDataForIFDoc" />
            <endpoint address="http://10.177.157.203:28081/ws/IntegracijaWS"
                binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding1"
                contract="OriginalDocServicesTEST.IntegracijaWSImpl" name="IntegracijaWSPort1" />
            <endpoint address="http://localhost/AdapterServiceAKN.Host/Production/AKNPListDocProduction.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDocProduction"
                contract="PListDocPROD.IAKNPListDocProduction" name="CustomBinding_IAKNPListDocProduction" />
        </client>
    </system.serviceModel>
</configuration>