<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEvalService" />
                <binding name="BasicHttpBinding_IMetaService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEvalService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Interop.CC.Handler.External/MetaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaService" contract="MetaServiceRef.IMetaService" name="BasicHttpBinding_IMetaService" />
            <endpoint address="http://localhost/EvalServiceSite/eval.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEvalService" contract="ServiceReference1.IEvalService" name="WSHttpBinding_IEvalService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/EvalServiceSite/eval.svc/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvalService" contract="ServiceReference1.IEvalService" name="BasicHttpBinding_IEvalService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
