<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="opstina" value="25"/>
    <add key="katastarskaOpstina" value="167"/>
    <add key="showEmb" value="false"/>
    <add key="brImotenList" value="55736"/> <!-- 0000 So ovoj broj na imoten list se testira neuspeshno povikuvanje na servisot--> <!-- 55736 So ovoj broj na imoten list se testira uspeshno povikuvanje na servisot-->
    <add key="PathToResultFile" value="C:\\LogsFromConsoleApps\OutputResults\InfrastukturniObjekti.txt"/>
    <add key="PathToFaultExceptionFile" value="C:\\LogsFromConsoleApps\Errors\FaultInfrastukturniObjekti.txt"/>
    <add key="PathToExceptionFile" value="C:\\LogsFromConsoleApps\Errors\ExceptionInfrastukturniObjekti.txt"/>
    <add key="PathToPdfResultFile" value="C:\\LogsFromConsoleApps\OutputResults\InfrastukturniObjekti.pdf"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IAKNDataForIFDocProduction">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"  maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://externalHandler-crrmtest/MIM1$$AKN/AKNDataForIFDocProduction"
          binding="customBinding" bindingConfiguration="CustomBinding_IAKNDataForIFDocProduction"
          contract="InfrastukturniObjektiService.IAKNDataForIFDocProduction"
          name="CustomBinding_IAKNDataForIFDocProduction" />
    </client>
  </system.serviceModel>
</configuration>