<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IDataForEnsurers">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataForRetired">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IInsuredStatus">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IRetiredStatus">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IYearsOfWorkExperience">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataForEnsurers1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataForRetired1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IInsuredStatus1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IRetiredStatus1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IYearsOfWorkExperience1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/FPIOMServicesProd.Host/DataForEnsurers.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForEnsurers"
                contract="DataForEnsurers.IDataForEnsurers" name="CustomBinding_IDataForEnsurers" />
            <endpoint address="http://localhost/FPIOMServicesProd.Host/DataForRetired.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForRetired"
                contract="DataForRetired.IDataForRetired" name="CustomBinding_IDataForRetired" />
            <endpoint address="http://localhost/FPIOMServicesProd.Host/InsuredStatus.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IInsuredStatus"
                contract="InsuredStatus.IInsuredStatus" name="CustomBinding_IInsuredStatus" />
            <endpoint address="http://localhost/FPIOMServicesProd.Host/RetiredStatus.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IRetiredStatus"
                contract="RetiredStatus.IRetiredStatus" name="CustomBinding_IRetiredStatus" />
            <endpoint address="http://localhost/FPIOMServicesProd.Host/YearsOfWorkExperience.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IYearsOfWorkExperience"
                contract="YearsOfWorkExperience.IYearsOfWorkExperience" name="CustomBinding_IYearsOfWorkExperience" />
            <endpoint address="http://localhost/FPIOMServicesTest.Host/DataForEnsurersTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForEnsurers1"
                contract="DataForEnsurersTest.IDataForEnsurers" name="CustomBinding_IDataForEnsurers1" />
            <endpoint address="http://localhost/FPIOMServicesTest.Host/DataForRetiredTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForRetired1"
                contract="DataForRetiredTest.IDataForRetired" name="CustomBinding_IDataForRetired1" />
            <endpoint address="http://localhost/FPIOMServicesTest.Host/InsuredStatusTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IInsuredStatus1"
                contract="InsuredStatusTest.IInsuredStatus" name="CustomBinding_IInsuredStatus1" />
            <endpoint address="http://localhost/FPIOMServicesTest.Host/RetiredStatusTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IRetiredStatus1"
                contract="RetiredStatusTest.IRetiredStatus" name="CustomBinding_IRetiredStatus1" />
            <endpoint address="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IYearsOfWorkExperience1"
                contract="YearsOfWorkExperienceTest.IYearsOfWorkExperience"
                name="CustomBinding_IYearsOfWorkExperience1" />
        </client>
    </system.serviceModel>
</configuration>