<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Opshtina" value="1"/>
    <add key="KatastarskaOpshtina" value="1"/>
    <add key="BrojkatastarskaParcela" value="2"/> <!-- 0000 So ovoj broj na parcela se testira neuspeshno povikuvanje na servisot--> <!-- 2 So ovoj broj na parcela se testira uspeshno povikuvanje na servisot-->
    <add key="PathToResultFile" value="C:\\LogsFromConsoleApps\OutputResults\ParcelaProduction.txt"/>
    <add key="PathToFaultExceptionFile" value="C:\\LogsFromConsoleApps\Errors\FaultParcelaProduction.txt"/>
    <add key="PathToExceptionFile" value="C:\\LogsFromConsoleApps\Errors\ExceptionParcelaProduction.txt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_ICadastrialParcel">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://externalHandler-crrmtest/MIM1$$AKN/CadastrialParcel" binding="customBinding" bindingConfiguration="CustomBinding_ICadastrialParcel" contract="ParcelaProdukciski.ICadastrialParcel" name="CustomBinding_ICadastrialParcel"/>
    </client>
  </system.serviceModel>
</configuration>
