<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XmlWebServiceSoap" maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="XmlWebServiceSoap2" maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="XmlWebServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                           maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.CRM_TS_AKN.CRM_TS_AKN_Test">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.ICRM_TS_AKN.ICRM_TS_AKN" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.CRM_TS_CURM.CRM_TS_CURM_Test">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.ICRM_TS_CURM.ICRM_TS_CURM" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.CRM_TS_UJP.CRM_TS_UJP_Test">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.ICRM_TS_UJP.ICRM_TS_UJP" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.CRMService.CRMService_Test">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.ICRMService.ICRMService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.ListOfChangesCU.ListOfChangesCU_Test">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IListOfChangesCU.IListOfChangesCU" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.ListOfSubjectsCU.ListOfSubjectsCUTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IListOfSubjectsCU.IListOfSubjectsCU" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="https://e-test.crm.com.mk/XWSS/XmlWebService.asmx"
       binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap"
       contract="CRM_Test.XmlWebServiceSoap" name="XmlWebServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
