<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FakeData" value="false"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.UJP.Implementations.BondsDataForCalcAndPayOfContributions">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="InteropServices.UJP.Interfaces.IBondsDataForCalcAndPayOfContributions"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.UJP.Implementations.DataForAnnualRevenues">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="InteropServices.UJP.Interfaces.IDataForAnnualRevenues"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.UJP.Implementations.DataForPaidContributionsByEmployeeAndPayer">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="InteropServices.UJP.Interfaces.IDataForPaidContributionsByEmployeeAndPayer"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.UJP.Implementations.DataForUnpaidContributions">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="InteropServices.UJP.Interfaces.IDataForUnpaidContributions"/>
      </service>
    <service behaviorConfiguration="ServiceBehavior" name="InteropServices.UJP.Implementations.RegExcBonds">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="InteropServices.UJP.Interfaces.IRegExcBonds"/>
      </service>
       <service behaviorConfiguration="ServiceBehavior" name="InteropServices.UJP.Implementations.EDB_EMB">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="InteropServices.UJP.Interfaces.IEDB_EMB"/>
      </service>
    
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    
    <compilation debug="true"/>
  </system.web>
<system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
</configuration>