<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CRRMTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XmlWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="XmlWebServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_ICRM_TS_CURM">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRM_TS_UJP">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRM_TS_AKN">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRM_TS_AKN1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRM_TS_CURM1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRM_TS_UJP1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IListOfChangesCU">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IListOfSubjectsCU">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRMService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IListOfChangesCU1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IListOfSubjectsCU1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ICRMService1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://e-test.crm.com.mk/XWSS/XmlWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap"
                contract="CRM_orig.XmlWebServiceSoap" name="XmlWebServiceSoap" />
            <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_CURM_Test.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_CURM"
                contract="CRM_TS_CURM_Test.ICRM_TS_CURM" name="CustomBinding_ICRM_TS_CURM" />
            <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_UJP_Test.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_UJP"
                contract="CRM_TS_UJP_Test.ICRM_TS_UJP" name="CustomBinding_ICRM_TS_UJP" />
            <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_AKN_Test.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
                contract="CRM_TS_AKN_Test.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />
            <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_AKN.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN1"
                contract="CRM_TS_AKN_Prod.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN1" />
            <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_CURM.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_CURM1"
                contract="CRM_TS_CURM_Prod.ICRM_TS_CURM" name="CustomBinding_ICRM_TS_CURM1" />
            <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_UJP.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_UJP1"
                contract="CRM_TS_UJP_Prod.ICRM_TS_UJP" name="CustomBinding_ICRM_TS_UJP1" />
            <endpoint address="http://localhost/CRRMServicesProd.Host/ListOfChangesCU.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IListOfChangesCU"
                contract="ListOfChangesCU_Prod.IListOfChangesCU" name="CustomBinding_IListOfChangesCU" />
            <endpoint address="http://localhost/CRRMServicesProd.Host/ListOfSubjectsCU.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IListOfSubjectsCU"
                contract="ListOfSubjectsCU_Prod.IListOfSubjectsCU" name="CustomBinding_IListOfSubjectsCU" />
            <endpoint address="http://localhost/CRRMServicesProd.Host/CRMService.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRMService"
                contract="CRMService_Prod.ICRMService" name="CustomBinding_ICRMService" />
            <endpoint address="http://localhost/CRRMServicesTest.Host/ListOfChangesCU_Test.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IListOfChangesCU1"
                contract="ListOfChangesCU_Test.IListOfChangesCU" name="CustomBinding_IListOfChangesCU1" />
          
            <endpoint address="http://localhost/CRRMServicesTest.Host/ListOfSubjectsCUTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IListOfSubjectsCU1"
                contract="ListOfSubjectsCU_Test.IListOfSubjectsCU" name="CustomBinding_IListOfSubjectsCU1" />
          
            <endpoint address="http://localhost/CRRMServicesTest.Host/CRMService_Test.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ICRMService1"
                contract="CRMService_Test.ICRMService" name="CustomBinding_ICRMService1" />
        </client>
    </system.serviceModel>
</configuration>