@inherits System.Web.Mvc.WebViewPage

<div class="col-lg-5 col-lg-offset-3">
    <form name="forgotPasswordForm">
        <h2 class="text-center">Заборавена лозинка</h2>
        <hr />
        <div class="form-group" ng-class="{ 'has-error' : usernameFormField.username.$invalid }">
            <label class="clearfix">Внесете го корисничкото име</label>
            <ng-form name="usernameFormField">
                <input type="text" class="form-control" name="username" data-ng-model="changePasswordData.username" tooltip="Внесете корисничко име" tooltip-trigger="focus" required autofocus />
            </ng-form>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : passwordFormField.password.$invalid }">
            <label class="clearfix">Нова лозинка</label>
            <ng-form name="passwordFormField">
                <input type="password" class="form-control" name="password" data-ng-model="changePasswordData.password" tooltip="Внесете нова лозинка" tooltip-trigger="focus" required />
            </ng-form>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : confirmPasswordFormField.ConfirmPassword.$invalid }">
            <label class="clearfix">Потврди нова лозинка</label>
            <ng-form name="confirmPasswordFormField">
                <input type="password" class="form-control" name="ConfirmPassword" data-ng-model="changePasswordData.confirmPassword" tooltip="Потврдете ја новата лозинка" tooltip-trigger="focus" required />
            </ng-form>
        </div>
        <div class="modal-footer">
            <button ng-click="changePassword(changePasswordData)" type="submit" ng-disabled="forgotPasswordForm.$invalid" class="btn btn-primary"><i class="fa fa-save" /> Направи промена</button>
        </div>
    </form>
</div>