@inherits System.Web.Mvc.WebViewPage

<style>
    span {
        word-wrap: break-word;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        <span>Трансакциски број: {{message.TransactionId}}</span>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Идентификациски број:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.id}}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Корисник:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.consumer }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Провајдер:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.provider }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Токен за рутирање:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.routingToken }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Сервис:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.service }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Метод:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.serviceMethod }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Насока на комуникација:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{ message.dir }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Тип на повик:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{ message.callType}}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Статус:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.status }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">MIME type:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{ message.mimeType }}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Временска ознака:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{ message.timestamp | date:'medium'}}</span>
                </div>
                <hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Дата на креирање:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.createDate | date:'medium'}}</span>
                </div>
                @*<hr />
                <div class="row">
                    <b class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Токен временска ознака:</b>
                    <span class="col-lg-9 col-md-9 col-sm-9 col-xs-6">{{message.tokenTimestamp}}</span>
                </div>*@
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default"
           ng-click="handleBackBtnMsgLogDetails()"
           style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    </div>
</div>
