<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service_MACEDONIAN_CADASTRESoap">
          <security mode="Transport" />
        </binding>
        <binding name="Service_MACEDONIAN_CADASTRESoap1" />
        <binding name="Service_MACEDONIAN_CADASTRESoap2" />
        <binding name="IntegracijaWSPortBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"></binding>
        <binding name="IntegracijaWSPortBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITest_TS_AKN">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.AKNCPlanDoc.AKNCPlanDoc">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.Test.IAKNCPlanDoc" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.AKNDataForIFDoc.AKNDataForIFDoc">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.Test.IAKNDataForIFDoc" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.AKNPListDoc.AKNPListDoc">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.Test.IAKNPListDoc" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.TSTest.TSTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.Test.ITSTest" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.CadastrialParcel.CadastrialParcelTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.ICadastrialParcel.ICadastrialParcel" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.PropertyList.PropertyListTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IPropertyList.IPropertyList" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Test.Implementations.AKNMunicipalityService.AKNMunicipalityService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IAKNMunicipality.IAKNMunicipality" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="https://www.katastar.gov.mk/dzgrservis/SERCICE987654321.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap"
                contract="AKNMunicipalities.Service_MACEDONIAN_CADASTRESoap"
                name="Service_MACEDONIAN_CADASTRESoap" />
      <endpoint address="http://10.177.157.203:28081/ws/IntegracijaWS"
                binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding"
                contract="AKNDocsServiceTest.IntegracijaWSImpl" name="IntegracijaWSPort" />
      <endpoint address="http://www.katastar.gov.mk/AknServisProfKorisniciMIO/SERCICE987654321.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap2"
                contract="AKNPropertyListAndCadastrialParcelProduction.Service_MACEDONIAN_CADASTRESoap"
                name="Service_MACEDONIAN_CADASTRESoap1" />
      <endpoint address="http://10.177.157.198:1443/ws/IntegracijaWS"
                binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding1"
                contract="AKNDocsServiceProduction.IntegracijaWSImpl"
                name="IntegracijaWSPort1" />
      <endpoint address="http://externalHandler-akntest/CRRM/TekovnaSostojbaAKNTest"
                binding="customBinding" bindingConfiguration="CustomBinding_ITest_TS_AKN"
                contract="Contracts.Interfaces.Test.ITSTest" name="CustomBinding_ITest_TS_AKN" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="HostDocServices" value="10.177.159.70"/>
    <add key="PortDocServices" value="22"/>
    <add key="UsernameDocServices" value="king"/>
    <add key="PasswordDocServices" value="K1NG123"/>
  </appSettings>
</configuration>