<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XmlWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="XmlWebServiceSoap1" />
                <binding name="XmlWebServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="XmlWebServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://e-test.crm.com.mk/XWSS/XmlWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap"
                contract="CRMOriginalService.XmlWebServiceSoap" name="XmlWebServiceSoap" />
            <endpoint address="https://e-services.crm.com.mk/XWSS/XmlWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap2"
                contract="ProductionTSOld.XmlWebServiceSoap" name="XmlWebServiceSoap1" />
        </client>
    </system.serviceModel>
</configuration>