<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <variable name="logFolder"  value="D:/InteropCorrectedHadlersLogs/External" />
  <variable name="subLogFolder"  value="${shortdate}" />
  
  <targets>

    <target xsi:type="File" name="exception" fileName="${logFolder}/${subLogFolder}/log_${shortdate}.log" maxArchiveFiles="20" archiveNumbering="Rolling" archiveAboveSize="1000000"
           createDirs="true" layout="
            ${newline}***** Start of new entry *****
            ${newline}Date:${date:universalTime=True} UTC
            ${newline}Machine name:${machinename}
            ${newline}level:${level:upperCase=true}
            ${newline}logger:${logger}
            ${newline}User:${identity}
            ${newline}Message:${message}
            ${newline}File:${event-properties:filePath}
            ${newline}Method:${event-properties:memberName}
            ${newline}LineNr.:${event-properties:lineNumber}
            ${newline}${event-properties:Exception}
            ${newline}${event-properties:variables}
            ${newline}*****End of entry***** ">
    </target>

    <target xsi:type="File" name="trace" fileName="${logFolder}/${subLogFolder}/trace_${shortdate}.log" maxArchiveFiles="20" archiveNumbering="Rolling" archiveAboveSize="1000000"
            createDirs="true" layout="
            ${newline}***** Start of new entry *****
            ${newline}Date:${date:universalTime=True} UTC
            ${newline}Machine name:${machinename}
            ${newline}level:${level:upperCase=true}
            ${newline}logger:${logger}
            ${newline}User:${identity}
            ${newline}Message:${message}
            ${newline}File:${event-properties:filePath}
            ${newline}Method:${event-properties:memberName}
            ${newline}LineNr.:${event-properties:lineNumber}
            ${newline}${event-properties:Exception}
            ${newline}${event-properties:variables}
            ${newline}*****End of entry***** ">
    </target>

    <target xsi:type="File" name="fileLog" fileName="${logFolder}/${subLogFolder}/${event-properties:ClassName}_${event-properties:memberName}_${level}_${longdate}.log" maxArchiveFiles="20" archiveNumbering="Rolling" archiveAboveSize="1000000"
            createDirs="true" layout="
            ${newline}***** Start of new entry *****
            ${newline}Date:${date:universalTime=True} UTC
            ${newline}Machine name:${machinename}
            ${newline}level:${level:upperCase=true}
            ${newline}logger:${logger}
            ${newline}User:${identity}
            ${newline}Message:${message}
            ${newline}File:${event-properties:filePath}
            ${newline}Method:${event-properties:memberName}
            ${newline}LineNr.:${event-properties:lineNumber}
            ${newline}${event-properties:Exception}
            ${newline}${event-properties:variables}
            ${newline}*****End of entry***** ">
    </target>
    <target xsi:type="Trace" name="traceLog" layout="${newline}Date:${date:universalTime=True} UTC
            ${newline}Message:${message}
            ${newline}File:${event-properties:filePath}
            :Method:${event-properties:memberName}
            :LineNr.:${event-properties:lineNumber}
            ${newline}${event-properties:Exception}
            ${newline}${event-properties:variables}">
    </target>
    
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger minlevel="Trace" maxlevel="Fatal" name="*" writeTo="fileLog" />
  </rules>
</nlog>
