<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="opstina" value="25"/>
    <add key="katastarskaOpstina" value="997"/>
    <add key="showEmb" value="false"/>
    <add key="brojParcela" value="1024"/> <!-- 0000 So ovoj broj na parcela se testira neuspeshno povikuvanje na servisot--> <!-- 1024 So ovoj broj na parcela se testira uspeshno povikuvanje na servisot-->
    <add key="PathToResultFile" value="C:\\LogsFromConsoleApps\OutputResults\KopijaKatastarskiPlan.txt"/>
    <add key="PathToFaultExceptionFile" value="C:\\LogsFromConsoleApps\Errors\FaultKopijaKatastraskiPlan.txt"/>
    <add key="PathToExceptionFile" value="C:\\LogsFromConsoleApps\Errors\ExceptionKopijaKatastraskiPlan.txt"/>
    <add key="PathToPdfResultFile" value="C:\\LogsFromConsoleApps\OutputResults\KopijaKatastarskiPlan.pdf"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IAKNCPlanDocProduction">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"  maxBufferSize="2147483647" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://externalHandler-crrmtest/MIM1$$AKN/AKNCPlanDocProduction"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDocProduction"
                contract="KopijaKatastarskiPlan.IAKNCPlanDocProduction" name="CustomBinding_IAKNCPlanDocProduction" />
        </client>
    </system.serviceModel>
</configuration>