<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IntegracijaWSPortBinding" />
        <binding name="Service_MACEDONIAN_CADASTRESoap">
          <security mode="Transport" />
        </binding>
        <binding name="Service_MACEDONIAN_CADASTRESoap1" />
        <binding name="Service_MACEDONIAN_CADASTRESoap2">
          <security mode="Transport" />
        </binding>
        <binding name="Service_MACEDONIAN_CADASTRESoap3" />
        <binding name="IntegracijaWSPortBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IAKNService">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNPListDoc">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNCPlanDoc">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNDataForIFDoc">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_IAKNMunicipality">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITSAdapterTest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ITSAdapterProduction">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IAdapterServiceAKN">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_AKN">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_AKN1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AdapterServiceAKN.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNService"
        contract="AKNadapterservice.IAKNService" name="CustomBinding_IAKNService" />
      <endpoint address="http://10.177.157.203:28081/ws/IntegracijaWS"
        binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding"
        contract="AKNCopyOfCadastralPlan.IntegracijaWSImpl" name="IntegracijaWSPort" />
      <endpoint address="https://www.katastar.gov.mk/dzgrservis/SERCICE987654321.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap"
        contract="AKNOriginal.Service_MACEDONIAN_CADASTRESoap" name="Service_MACEDONIAN_CADASTRESoap" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNPListDoc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDoc"
        contract="ImotenListDokument.IAKNPListDoc" name="CustomBinding_IAKNPListDoc" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNCPlanDoc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDoc"
        contract="KopijaKatastarskiPlanDocument.IAKNCPlanDoc" name="CustomBinding_IAKNCPlanDoc" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNDataForIFDoc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNDataForIFDoc"
        contract="PodatociInfrastrukturniObjektiDokument.IAKNDataForIFDoc"
        name="CustomBinding_IAKNDataForIFDoc" />
      <endpoint address="https://www.katastar.gov.mk/dzgrservis/SERCICE987654321.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap2"
        contract="AKNOriginal.Service_MACEDONIAN_CADASTRESoap" name="Service_MACEDONIAN_CADASTRESoap1" />
      <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNMunSvc.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAKNMunicipality"
        contract="AKNmun1.IAKNMunicipality" name="CustomBinding_IAKNMunicipality" />
      <endpoint address="http://akn-clienth/TSAdapterTest.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ITSAdapterTest"
        contract="TSAdapterTest.ITSAdapterTest" name="CustomBinding_ITSAdapterTest" />
      <endpoint address="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_IAdapterServiceAKN"
        contract="FaultAKNService.IAdapterServiceAKN" name="CustomBinding_IAdapterServiceAKN" />
      <endpoint address="http://10.177.157.203:28081/ws/IntegracijaWS"
        binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding1"
        contract="RealAKNServiceForDocuments.IntegracijaWSImpl" name="IntegracijaWSPort1" />
      <endpoint address="http://akn-clienth/TSAdapterProduction.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ITSAdapterProduction"
        contract="TSAdapterProduction.ITSAdapterProduction" name="CustomBinding_ITSAdapterProduction" />
      <endpoint address="http://externalHandler-akn/CRRM/TekovnaSostojbaAKN"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
        contract="TSAKN_StS.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />
      <endpoint address="http://externalHandler-akntest/CRRM/TekovnaSostojbaAKN"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN1"
        contract="TSAKN_StSTest.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN1" />
    </client>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="-1"/>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Information, ActivityTracing"
                    >
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\log\Traces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>