<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service_MACEDONIAN_CADASTRESoap">
          <security mode="Transport" />
        </binding>
        <binding name="Service_MACEDONIAN_CADASTRESoap1" />
        <binding name="Service_MACEDONIAN_CADASTRESoap2" />
        <binding name="IntegracijaWSPortBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"></binding>
        <binding name="IntegracijaWSPortBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNMunicipalityService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNMunicipality" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNPListDoc">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNPListDoc" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNCPlanDoc">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNCPlanDoc" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNDataForIFDoc">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNDataForIFDoc" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNPListDocProduction">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNPListDocProduction" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNCPlanDocProduction">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNCPlanDocProduction" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNDataForIFDocProduction">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNDataForIFDocProduction" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="https://www.katastar.gov.mk/dzgrservis/SERCICE987654321.asmx"
          binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap"
          contract="AKNOriginalService.Service_MACEDONIAN_CADASTRESoap"
          name="Service_MACEDONIAN_CADASTRESoap" />
      <endpoint address="http://10.177.157.203:28081/ws/IntegracijaWS"
                binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding"
                contract="AKNOriginalDocSvc.IntegracijaWSImpl" name="IntegracijaWSPort" />
      <endpoint address="http://www.katastar.gov.mk/AknServisProfKorisniciMIO/SERCICE987654321.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap2"
                contract="AKNNewOriginal.Service_MACEDONIAN_CADASTRESoap"
                name="Service_MACEDONIAN_CADASTRESoap1" />
      
    <endpoint address="http://10.177.157.198:1443/ws/IntegracijaWS"
                binding="basicHttpBinding" bindingConfiguration="IntegracijaWSPortBinding1"
                contract="AKNDocsServiceProduction.IntegracijaWSImpl" name="IntegracijaWSPort1" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>