<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.CURM.Implementations.DataForExecutedImport">
        <endpoint address="" binding="wsHttpBinding" contract="InteropServices.CURM.Interfaces.IDataForExecutedImport">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="InteropServices.CURM.Interfaces.IDataForExecutedImport"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.CURM.Implementations.DataForExecutedExport">
        <endpoint address="" binding="wsHttpBinding" contract="InteropServices.CURM.Interfaces.IDataForExecutedExport">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="InteropServices.CURM.Interfaces.IDataForExecutedExport"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.CURM.Implementations.RegisterOfBondsForExciseDuty">
        <endpoint address="" binding="wsHttpBinding" contract="InteropServices.CURM.Interfaces.IRegisterOfBondsForExciseDuty">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="InteropServices.CURM.Interfaces.IRegisterOfBondsForExciseDuty"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>