<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PathAvrmOU" value="C:\\INTEROPERABILNOST\\AVRM\\OU\\"/>
    <add key="PathFzomOU" value="C:\\INTEROPERABILNOST\\FZOM\\OU\\"/>
    <add key="PathFpiomOU" value="C:\\INTEROPERABILNOST\\FPIOM\\OU\\"/>
    <add key="PathAvrmNP" value="C:\\INTEROPERABILNOST\\AVRM\\NP\\"/>
    <add key="PathFzomNP" value="C:\\INTEROPERABILNOST\\FZOM\\NP\\"/>
    <add key="PathFpiomNP" value="C:\\INTEROPERABILNOST\\FPIOM\\NP\\"/>
    <add key="PathAvrmPP" value="C:\\INTEROPERABILNOST\\AVRM\\PP\\"/>
    <add key="PathFzomPP" value="C:\\INTEROPERABILNOST\\FZOM\\PP\\"/>
    <add key="PathFpiomPP" value="C:\\INTEROPERABILNOST\\FPIOM\\PP\\"/>
    <add key="connectionStringEdbEmb" value="Host=10.9.15.15;Service=suslugi;Server=etax20ujp;Database=public_ujp;User Id=mioa;Password=MInt@ujp;"/>
    <add key="connectionStringAnnualRev" value="Host=10.9.15.15;Service=suslugi;Server=etax20ujp;Database=public_ujp;User Id=mioa;Password=MInt@ujp;"/>
    <add key="connectionStringRegExcBonds" value="Host=10.9.15.15;Service=suslugi;Server=etax20ujp;Database=public_ujp;User Id=mioa;Password=MInt@ujp;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.DataFor_EDB_EMB.GetDataFor_EDB_EMB">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IDataFor_EDB_EMB.IEDB_EMB"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.DataForEDB.DataForEDB">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IDataForEDB.IDataForEDB"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.DataForEMB.DataForEMB">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IDataForEMB.IDataForEMB"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.BondsDataForCalcAndPayOfContributions.BondsDataForCalcAndPayOfContributions">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IBondsDataForCalcAndPayOfContributions.IBondsDataForCalcAndPayOfContributions"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.DataForAnnualRevenues.DataForAnnualRevenues">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IDataForAnnualRevenues.IDataForAnnualRevenues"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.GetDoc_OU_NP_PP.GetDoc_OU_NP_PP">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IGetDoc_OU_NP_PP.IGetDoc_OU_NP_PP"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.RegExcBonds.RegExcBonds">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IRegExcBonds.IRegExcBonds"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
</configuration>
