<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IPropertyList">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AKNServicesTest.Host/PropertyListTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IPropertyList"
                contract="AKNPropertyListTest.IPropertyList" name="CustomBinding_IPropertyList" />
        </client>
    </system.serviceModel>
</configuration>