<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Opshtina" value="1"/>
    <add key="KatastarskaOpshtina" value="1"/>
    <add key="BrojImotenList" value="1"/> <!-- 0000 So ovoj broj se testira neuspeshno povikuvanje na servisot--> <!-- 1 So ovoj broj se testira uspeshno povikuvanje na servisot-->
    <add key="PathToResultFile" value="C:\\LogsFromConsoleApps\OutputResults\PropertyListProduction.txt"/>
    <add key="PathToFaultExceptionFile" value="C:\\LogsFromConsoleApps\Errors\FaultPropertyListProduction.txt"/>
    <add key="PathToExceptionFile" value="C:\\LogsFromConsoleApps\Errors\ExceptionPropertyListProduction.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IPropertyList">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://externalHandler-crrmtest/MIM1$$AKN/PropertyList"
                binding="customBinding" bindingConfiguration="CustomBinding_IPropertyList"
                contract="ImotenListProdukciski.IPropertyList" name="CustomBinding_IPropertyList" />
        </client>
    </system.serviceModel>
</configuration>

