<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="WSIO113Binding"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.DataForEnsurers.DataForEnsurers">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IDataForEnsurers.IDataForEnsurers"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.DataForRetired.DataForRetired">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IDataForRetired.IDataForRetired"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.InsuredStatus.InsuredStatus">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IInsuredStatus.IInsuredStatus"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.RetiredStatus.RetiredStatus">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IRetiredStatus.IRetiredStatus"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Implementations.Implementations.YearsOfWorkExperience.YearsOfWorkExperience">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="Contracts.Interfaces.IYearsOfWorkExperience.IYearsOfWorkExperience"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://mapasserver.piom.com.mk/PIOM_IO/WSIO113" binding="basicHttpBinding" bindingConfiguration="WSIO113Binding"
        contract="RetiredInsuredData.WSIO113PortType" name="WSIO113Port"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="OraclePass" value="interdvaoperabilnost" />
    <add key="OracleUser" value="INTEROPERAB" />
    <add key="InsuredStatusSql" value="select osig_obv.reg_br,converttoutf(obvrznici.naziv) naziv,obvrznici.danocen_broj, obvrznici.maticen_broj, od_datum, nvl(to_char(do_datum,'dd.mm.yyyy'),'00.00.0000') do_datum,casovi_nedelno from osig_obv,obvrznici where embg = :p_embg and obvrznici.reg_br=osig_obv.reg_br order by od_datum" />
    <add key="InsuredStatusDataSource" value=";Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.17.10.111)(PORT=1521))(CONNECT_DATA=(SID=DB1)));" />
    <add key="YearsOfWorkExpDataSource" value=";Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.17.10.111)(PORT=1521))(CONNECT_DATA=(SID=DB1)));" />
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
