@inherits System.Web.Mvc.WebViewPage
<div class="modal-header">
    <h3 class="modal-title">Transitons for {{process.ProcessDefinitionName + ' - ' + process.ProcessDefinitionCode}} (id:{{process.Id}})</h3>
</div>


<div>Test Modal</div>
<div class="modal-footer">
     <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>
