<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>-->
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_ICRM_TS_AKN" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_ICRM_TS_AKN1" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomBinding_ICRM_TS_AKN2" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_AKN_Test.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
        contract="CRM_TS_AKN_Test.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />
      
      <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_AKN.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN1"
        contract="CRM_TS_AKN_Prod.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN1" />
      
      <endpoint address="http://localhost/CRRMServicesProd.Host/CRM_TS_AKN.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN2"
        contract="CRM_TS_AKN_Prod_NaTest.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN2" />
    </client>
  </system.serviceModel>

</configuration>
