<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IFPIOMService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AdapterServiceFPIOM.Host/AdapterServiceFPIOM.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IFPIOMService"
                contract="FPIOMServiceReference.IFPIOMService" name="CustomBinding_IFPIOMService" />
        </client>
    </system.serviceModel>
</configuration>