<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        
        <binding name="CustomBinding_ITest_TS_AKN" openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
         maxBufferSize="2147483647" />
        </binding>
        
        <binding name="CustomBinding_ICRM_TS_AKN" openTimeout="00:10:00"
         closeTimeout="00:10:00"
         sendTimeout="00:10:00"
         receiveTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
         maxBufferSize="2147483647" />
        </binding>

        </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="TSAdapterAKN.Implementations.GetTSAKNTest.TSAKNTest">
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="TSAdapterAKN.Interfaces.IGetTSAKN.IGetTSAKN" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="TSAdapterAKN.Implementations.GetTSAKNProduction.TSAKNProd">
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="TSAdapterAKN.Interfaces.IGetTSAKN.IGetTSAKN" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="TSAdapterAKN.Implementations.GetTSAKNProductionOnTest.TSAKNProdOnTest">
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="TSAdapterAKN.Interfaces.IGetTSAKN.IGetTSAKN" />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <client>
      <!--Za testiranje-->
      <endpoint address="http://localhost/CRRMServicesTest.Host/CRM_TS_AKN_Test.svc/custom"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
        contract="CRM_TS_AKN_Test.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />
      
      <!--Za deploy, gore na server treba da e-->
      <!--<endpoint address="http://externalHandler-akntest/CRRM/TekovnaSostojbaAKNTest"
                binding="customBinding" bindingConfiguration="CustomBinding_ITest_TS_AKN"
                contract="CRM_TS_AKN_Test.ICRM_TS_AKN" name="CustomBinding_ITest_TS_AKN" />
                
            
      <endpoint address="http://externalHandler-akn/CRRM/TekovnaSostojbaAKN"
          binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
          contract="CRM_TS_AKN_Prod.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />-->
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="MyCertificateUserTest" value="UserAKN" />
    <add key="MyCertificateUserProduction" value="UserAKN" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    
        --><!--To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.--><!--
      
    <directoryBrowse enabled="true"/>
  </system.webServer>-->
</configuration>
