<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IAKNCPlanDoc">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://externalHandler-uiprtest/MIM1$$AKN/AKNCPlanDoc"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNCPlanDoc"
                contract="ParcelaDocTest.IAKNCPlanDoc" name="CustomBinding_IAKNCPlanDoc" />
        </client>
    </system.serviceModel>
</configuration>