<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="embs" value="6646123"/>
    <add key="CertUserAKNSystemToSystem" value="UserAKN"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_ICRM_TS_AKN">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://externalHandler-akntest/MIM1$$CRRM/CRM_TS_AKN_Test"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_AKN"
        contract="TekovnaSostojbaAKNTest.ICRM_TS_AKN" name="CustomBinding_ICRM_TS_AKN" />
    </client>
  </system.serviceModel>
</configuration>