<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMockServiceTest"/>
                <binding name="BasicHttpBinding_IMockServiceProd"/>
                <binding name="BasicHttpBinding_IService"/>
                <binding name="BasicHttpBinding_IService1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MockService/MockServiceTest.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMockServiceTest" contract="OriginalTestServiceReference.IMockServiceTest" name="BasicHttpBinding_IMockServiceTest"/>
            <endpoint address="http://localhost/MockService/MockServiceProd.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMockServiceProd" contract="OriginalProductionServiceReference.IMockServiceProd" name="BasicHttpBinding_IMockServiceProd"/>
            <endpoint address="http://localhost/InstitutionNameServicesTest.Host/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="TestAdapterServiceReference.IService" name="BasicHttpBinding_IService1"/>
            <endpoint address="http://localhost/InstitutionNameServicesProd.Host/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="ProductionAdapterServiceReference.IService" name="BasicHttpBinding_IService"/>
        </client>
    </system.serviceModel>
</configuration>
