<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TekovnaSostojbaAKNSystemToSystemEMBS" value="6325270"/>
    <add key="PathToResultFile" value="C:\\LogsFromConsoleApps\OutputResults\ResultTSAKNProd.txt"/>
    <add key="PathToFaultExceptionFile" value="C:\\LogsFromConsoleApps\Errors\FaultTSAKNProd.txt"/>
    <add key="PathToExceptionFile" value="C:\\LogsFromConsoleApps\Errors\ExceptionTSAKNProd.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IGetTSAKN">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
                </binding>
            </customBinding>
        </bindings>
        <client>
          
            <endpoint address="http://tsadapter.akn.host.c/TSAKNProdNaTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IGetTSAKN"
                contract="TekovnaSostojbaAKNProdukciski.IGetTSAKN" name="CustomBinding_IGetTSAKN" />
          
        </client>
    </system.serviceModel>
</configuration>