<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSIO113Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mapasserver.piom.com.mk/PIOM_IO/WSIO113"
                binding="basicHttpBinding" bindingConfiguration="WSIO113Binding"
                contract="FPIOMOriginalService.WSIO113PortType" name="WSIO113Port" />
        </client>
    </system.serviceModel>
</configuration>