<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service_MACEDONIAN_CADASTRESoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IAKNService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IAKNPListDoc">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AdapterServiceAKN.Host/AdapterServiceAKN.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNService"
                contract="AKNAdapterService.IAKNService" name="CustomBinding_IAKNService" />
            <endpoint address="http://www.katastar.gov.mk/AknServisProfKorisniciMIO/SERCICE987654321.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap"
                contract="OriginalAKNService.Service_MACEDONIAN_CADASTRESoap"
                name="Service_MACEDONIAN_CADASTRESoap" />
            <endpoint address="http://localhost/AdapterServiceAKN.Host/AKNPListDoc.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDoc"
                contract="AKNPListDocTest.IAKNPListDoc" name="CustomBinding_IAKNPListDoc" />
        </client>
    </system.serviceModel>
</configuration>