<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service_MACEDONIAN_CADASTRESoap">
          <security mode="Transport" />
        </binding>
        <binding name="Service_MACEDONIAN_CADASTRESoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceAKN.AKNService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceAKN.IAKNService" />
      </service>
    </services>
    <client>
      <endpoint address="https://www.katastar.gov.mk/dzgrservis/SERCICE987654321.asmx"
          binding="basicHttpBinding" bindingConfiguration="Service_MACEDONIAN_CADASTRESoap"
          contract="AKNOriginalService.Service_MACEDONIAN_CADASTRESoap"
          name="Service_MACEDONIAN_CADASTRESoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>