<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InteropCS.MessageLogStatisticService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Interval" value="60000" />
    <add key="TimeForFirstStartService" value="13:50" />
    <add key="CSAddress" value="CS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="KIBSCertificationPath" value="D:\Projects\Interoperability\Interop\InteropCS\Documents\TestServise1_VerbaS1MK_IE10.pfx" />
    <add key="KIBSCertificationPassword" value="123456" />
    <add key="MailHost" value="192.168.1.137" /><!--value="mkdbex1.kimtec.com.mk"-->
    <add key="MailHostPort" value="25" />
    <add key="MailFrom" value="opennms@interoperabilnost.gov.mk" /><!--value="marija.petrushevska@korvus.mk"-->
    <add key="MailServiceUserName" value="opennms@interoperabilnost.gov.mk" />
    <add key="MailServicePassword" value="@dmin123king" />
    <add key="MailServiceMailAddress" value="" />
    <add key="MailToAddress" value="interop_info@interoperabilnost.gov.mk" /><!--value="marija.petrushevska@korvus.mk"/>-->
    <add key="LogsCreatingStatisticsPath" value="D:\WindowsServiceCreateStatisticLogs.txt" />
    <add key="LogsWindowsServicePath" value="D:\WindowsServiceLog.txt" />
    <add key="SendingMail" value="true" />
    <!--<add key="TestClock" value="14:41" />-->
  </appSettings>
  <connectionStrings>
    <add name="CSInterop" connectionString="Data Source=.;User Id=sa;Password=eidaichi;Initial Catalog=CSInteropTest;" providerName="System.Data.SqlClient" />
    <!--<add name="CSInterop" connectionString="Data Source=10.47.20.231;User Id=sa;Password=E1da1ch1;Initial Catalog=CSInteropTest;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <InteropCS.MessageLogStatisticService.Properties.Settings>
      <setting name="InteropCS_MessageLogStatisticService_Kibs_wsTSATest" serializeAs="String">
        <value>https://wstsatest.kibs.mk/wsTSATest.asmx</value>
      </setting>
    </InteropCS.MessageLogStatisticService.Properties.Settings>
  </applicationSettings>
</configuration>
