<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="KIBSCertificationPath" value="C:\Interop\UploadedCertificates\TestServise1_VerbaS1MK_IE10.pfx" /><!--D:\Projects\Interoperability\Interop\InteropCC\Documents\TestServise1_VerbaS1MK_IE10.pfx-->
    <add key="KIBSCertificationPassword" value="123456" />
  </appSettings>
    <applicationSettings>
        <KIBS.Properties.Settings>
            <setting name="KIBS_kibs_wsTSATest" serializeAs="String">
                <value>https://wstsatest.kibs.mk/wsTSATest.asmx</value><!--https://wstsatest.kibs.mk/wsTSATest.asmx-->
            </setting>
            <setting name="KIBS_KIBSProd_wsTSA" serializeAs="String">
                <value>https://wstsa.kibs.mk/wsTSA.asmx</value>
            </setting>
        </KIBS.Properties.Settings>
    </applicationSettings>
</configuration>