<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TekovnaSostojbaCURMTestSystemToSystemEMBS" value="6646123"/>
    <add key="TekovnaSostojbaCURMProdSystemToSystemEMBS" value="4641655"/>
    <add key="TekovnaSostojbaUJPTestSystemToSystemEMBS" value="6646123"/>
    <add key="TekovnaSostojbaUJPProdSystemToSystemEMBS" value="6646123"/>
    <add key="TekovnaSostojbaAKNTestSystemToSystemEMBS" value="4641655"/>
    <add key="TekovnaSostojbaAKNProdSystemToSystemEMBS" value="6646123"/>
    <add key="TekovnaSostojbaTestSystemToSystemEMBS" value="6646123"/>
    <add key="ListaSubjektiTestSystemToSystemEMBS" value="66124578"/>
    <add key="TekovnaSosojbaCURMProductionCertificatePath" value="C:\\UserCU.pfx"/>
    <add key="TekovnaSosojbaCURMProductionCertificatePass" value="CR!tst"/>
    <add key="TekovnaSosojbaProductionCertificatePath" value="C:\\UserCU.pfx"/>
    <add key="TekovnaSosojbaProductionCertificatePass" value="CR!tst"/>
    <add key="ListaPromeniProductionCertificatePath" value="C:\\UserCU.pfx"/>
    <add key="ListaPromeniProductionCertificatePass" value="CR!tst"/>
    <add key="ListaSubjektiProductionCertificatePath" value="C:\\UserCU.pfx"/>
    <add key="ListaSubjektiProductionCertificatePass" value="CR!tst"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_ICRMService">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ICRM_TS_CURM">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IListOfSubjectsCU">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IListOfChangesCU">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://externalHandler-curmtest/MIM1$$CRRM/CRMService_Test"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRMService"
        contract="CURMTekovnaSostojbaSitePodatociTest.ICRMService" name="CustomBinding_ICRMService" />
      <endpoint address="http://externalHandler-curmtest/MIM1$$CRRM/CRM_TS_CURM_Test"
        binding="customBinding" bindingConfiguration="CustomBinding_ICRM_TS_CURM"
        contract="CURMTekovnaSostojbaCURMTest.ICRM_TS_CURM" name="CustomBinding_ICRM_TS_CURM" />
      <endpoint address="http://externalHandler-curmtest/MIM1$$CRRM/ListOfSubjectsCUTest"
        binding="customBinding" bindingConfiguration="CustomBinding_IListOfSubjectsCU"
        contract="CURMListaSubjektiPosebenInteresTest.IListOfSubjectsCU"
        name="CustomBinding_IListOfSubjectsCU" />
      <endpoint address="http://externalHandler-curmtest/MIM1$$CRRM/ListOfChangesCU_Test"
        binding="customBinding" bindingConfiguration="CustomBinding_IListOfChangesCU"
        contract="CURMListaSubjektiKoiImalePromenaTest.IListOfChangesCU"
        name="CustomBinding_IListOfChangesCU" />
    </client>
  </system.serviceModel>
</configuration>