<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InteropWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="InteropWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.stage.gradezna-dozvola.mk/Services/InteropWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="InteropWebServiceSoap"
                contract="MzTVOriginalService.InteropWebServiceSoap" name="InteropWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>