<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="XmlWebServiceSoap" maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="XmlWebServiceSoap2" maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
        <binding name="XmlWebServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                           maxBufferSize="2147483647" />

        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.CRMService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ICRMService" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.CRM_TS_AKN">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ICRM_TS_AKN" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.CRM_TS_UJP">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ICRM_TS_UJP" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.CRM_TS_CURM">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ICRM_TS_CURM" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.Test_TS_CURM">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ITest_TS_CURM" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.Test_TS_UJP">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ITest_TS_UJP" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.Test_TS_AKN">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ITest_TS_AKN" />
      </service>
     <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.CRMServiceTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.ICRMServiceTest" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.ListOfChangesCUTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.IListOfChangesCUTest" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.ListOfChangesCU">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.IListOfChangesCU" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.ListOfSubjectsCUTest">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.IListOfSubjectsCUTest" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="AdapterServiceCRM.ListOfSubjectsCU">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="custom" binding="customBinding" bindingConfiguration="httpSoap12" contract="AdapterServiceCRM.IListOfSubjectsCU" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <client>
      <endpoint address="https://e-test.crm.com.mk/XWSS/XmlWebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap"
          contract="CRMOriginalService.XmlWebServiceSoap" name="XmlWebServiceSoap" />
      
      <endpoint address="https://e-services.crm.com.mk/XWSS/XmlWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XmlWebServiceSoap2"
                contract="ProductionTSOld.XmlWebServiceSoap" name="XmlWebServiceSoap1" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>