<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IDRegStudent">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_ISRegStudent">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MONServicesProd.Host/DataForRegularStudent.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDRegStudent"
                contract="DataForRegularStudent.IDRegStudent" name="CustomBinding_IDRegStudent" />
            <endpoint address="http://localhost/MONServicesProd.Host/StatusForRegularStudent.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_ISRegStudent"
                contract="StatusForRegularStudent.ISRegStudent" name="CustomBinding_ISRegStudent" />
        </client>
    </system.serviceModel>
</configuration>