<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.AKN.Implementations.CopyOfCadastralPlan">
        <endpoint address="" binding="wsHttpBinding" contract="InteropServices.AKN.Interfaces.ICopyOfCadastralPlan">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="InteropServices.AKN.Interfaces.ICopyOfCadastralPlan"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.AKN.Implementations.DataForInfrastructureFacilities">
        <endpoint address="" binding="wsHttpBinding" contract="InteropServices.AKN.Interfaces.IDataForInfrastructureFacilities">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="InteropServices.AKN.Interfaces.IDataForInfrastructureFacilities"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.AKN.Implementations.CadastralParcel">
        <endpoint address="" binding="wsHttpBinding" contract="InteropServices.AKN.Interfaces.ICadastralParcel">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="InteropServices.AKN.Interfaces.ICadastralParcel"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="InteropServices.AKN.Implementations.PropertyList">
        <endpoint address="" binding="wsHttpBinding" contract="InteropServices.AKN.Interfaces.IPropertyList">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="basic" binding="basicHttpBinding" contract="InteropServices.AKN.Interfaces.IPropertyList"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>