<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="connectionStringCC" connectionString="Data Source=.;User Id=sa;Password=eidaichi;Initial Catalog=CCAKN;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
   
    <add key="URLWebRequest" value="http://localhost/Interop.CC.Handler.Internal" /><!--http://localhost/Interop.CC.Handler.Internal--><!--http://BIZDEV/MIM_HTTP/BTSHTTPReceive.dll-->
    <!--<add key="URLWebRequest" value="http://korv-cs/BTSHTTP/BTSHTTPReceive.dll" />--> <!--for comunication to bizTalk-->
    <!--<add key="URLWebRequest" value="http://localhost/Interop.ExternalCC.InternalHandler" />-->
    <add key="LogSoap" value="true" />
    <add key="LogDecryptBody" value="true" />
    <add key="ParticipantCode" value="MIM1$$AKN" />
    <add key="MIMMessageXSDLocation" value="D:\Projects\Interoperability\Interop\InteropCC\Documents\MIMMessage.xsd" />
    <!--<add key="MyCertificate" value="D:\\Interop\\InteropCC\\Documents\\KORVCCA3.p12" />
    <add key="MyCertificatePassword" value="a47aQ2MQBhGN737P" />-->
    <add key="CertificateFromStore" value="true" />
    <add key="MyCertificateName" value="Interoperabilnost" />
    <add key="MyCertificatePath" value="D:\KIBS_Verba_S1\KIBS_Verba_S1\MON.p12" />
    <add key="MyCertificatePassword" value="w?R/4&quot;3#8Uvt\M;S" />
    <add key="MyCertificate" value="D:\\Projects\\Interoperability\\Interop\\InteropCC\\Documents\\KORVCCB3.p12" />
    <add key="LogDecryptBody" value="true"/>
    <add key="KIBSEnviroment" value="Test"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="InteropCCSimulationHandlerExternal" verb="*" path="*" type="Interop.CCSimulation.Handler.External.InteropCCSimulationHandlerExternal, Interop.CCSimulation.Handler.External, Version=1.0.0.0, Culture=neutral" preCondition="managedHandler" />
    </handlers>
    <!--<validation validateIntegratedModeConfiguration="false" />
        <security>
            <access sslFlags="SslNegotiateCert" />
        </security>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>

</configuration>