<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IRegExcBonds">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataForEMB">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataForEDB">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataForEDB1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IDataForEMB1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IRegExcBonds1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/UJPServicesProd.Host/RegExcBonds.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IRegExcBonds"
                contract="RegExcBonds.IRegExcBonds" name="CustomBinding_IRegExcBonds" />
          
            <endpoint address="http://localhost/UJPServicesProd.Host/DataForEMB.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForEMB"
                contract="DataForEMB.IDataForEMB" name="CustomBinding_IDataForEMB" />
          
            <endpoint address="http://localhost/UJPServicesProd.Host/DataForEDB.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForEDB"
                contract="DataForEDB.IDataForEDB" name="CustomBinding_IDataForEDB" />
          
            <endpoint address="http://localhost/UJPServicesTest.Host/DataForEDBTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForEDB1"
                contract="DataForEDBTest.IDataForEDB" name="CustomBinding_IDataForEDB1" />
          
            <endpoint address="http://localhost/UJPServicesTest.Host/DataForEMBTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IDataForEMB1"
                contract="DataForEMBTest.IDataForEMB" name="CustomBinding_IDataForEMB1" />
          
            <endpoint address="http://localhost/UJPServicesTest.Host/RegExcBondsTest.svc/custom"
                binding="customBinding" bindingConfiguration="CustomBinding_IRegExcBonds1"
                contract="RegExcBondsTest.IRegExcBonds" name="CustomBinding_IRegExcBonds1" />
        </client>
    </system.serviceModel>
</configuration>