<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="opstina" value="25"/>
    <add key="katastarskaOpstina" value="997"/>
    <add key="showEmb" value="false"/>
    <add key="brImotenList" value="1024"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IAKNPListDocProduction">
          <textMessageEncoding messageVersion="Soap12"></textMessageEncoding>
          <httpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"  maxBufferSize="2147483647" />       
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://externalHandler-crrmtest/MIM1$$AKN/AKNPListDocProduction"
          binding="customBinding" bindingConfiguration="CustomBinding_IAKNPListDocProduction"
          contract="DocumentImotenList.IAKNPListDocProduction" name="CustomBinding_IAKNPListDocProduction" />
    </client>
  </system.serviceModel>
</configuration>